/*--------------- File Name: style.css--------------- */

/*--------------- Import Fonts------------------------*/
    @font-face {
    font-family: 'ashleyCrawford';
    src: url(/fonts/AshleyCrawford.ttf);
    }

    @font-face {
    font-family: 'augie';
    src: url(/fonts/augie.ttf);
    }

  /* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */


/*How to use the fonts on this file: 
 1) font-family: 'ashleyCrawford', sans-serif;
 2) font-family: 'Bebas Neue', sans-serif;
 3) font-family: 'augie', sans-serif;
*/


/* skeleton */
* {
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
    
}

/*****************
* Loading Screen * 
******************/
.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}

.loading_center_space{
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 5px solid #fe65c3;
  position: relative;
  animation: load 2s linear infinite;
}

.loader::before,.loader::after {
  content: '';
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  border-radius: 50%;
}

.loader::before {
  border-top: 5px solid #7ed957;
  transform: rotate(120deg);
}

.loader::after {
  border-top: 5px solid #5be0e2;
  transform: rotate(240deg);
}

.loader span {
  position: absolute;
  font-size: small;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  animation: a2 2s linear infinite;
}

@keyframes load {
  to {
    transform: rotate(360deg);
  }
}

@keyframes a2 {
  to {
    transform: rotate(-360deg);
  }
}

/*****************
* Logo Container * 
******************/

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.moves-button {
  padding: 10px 20px;
  color: #000;
  font-weight: 900;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  border: 3px solid transparent;
  border-image: linear-gradient(90deg, #f3f 20%, rgb(49, 18, 187) 60%);
  border-image-slice: 1;
}

.moves-button::after {
  content: 'Home';
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgb(245, 108, 245) 20%,#5ee0e5 60%);
  transition: transform 0.3s ease-out;
  pointer-events: none;
  color: #fff;
}

.moves-button:hover::after {
  transform: translateX(-100%);
}

.moves-button:focus {
  outline: none;
}

/* Optional styling for the button on click */
.moves-button:active {
  transform: translateY(2px);
}











